/* **************************************
** HEADING 
************************************** */

h1 {
    text-align: center;
    color: royalblue;
}

/* **************************************
** QUESTION 
************************************** */

#question {
    width: 70%;
    padding: 30px;
    border: 3px solid blue;
    background-color: royalblue;
    color: white;
    font-size: 28px;
    margin: 10px auto;
}

/* **************************************
** ANSWERS 
************************************** */

#answer {
    width: 50%;
    margin: 10px auto;
    color: white;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#answer ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    padding-left: 0px;
}

#answer ul li {
    width: 40%;
    height: 40px;
    background-color: black;
    padding: 15px;
    text-align: center;
    margin: 5px;
    font-weight: bolder;
}

/* **************************************
** SCOREBOARD
************************************** */

#scores {
    display: flex;
    width: 70%;
    background-color: darkslategray;
    justify-content: center;
    margin: 10px auto;

}

#player1, #player2 {
    width: 40%;
    background-color: darkgoldenrod;
    margin: 5px;
    text-align: center;
}

/* 

senzu bean url('https://imgr.search.brave.com/s-9ncqt6SnlwDNJEVKVWhuZv7rYe2Sv1Yp8-4Q_rtc4/fit/267/200/ce/1/aHR0cHM6Ly9tZWRp/YS5naXBoeS5jb20v/bWVkaWEvenJnYVlC/NDluaDc2RS9naXBo/eS5naWY.gif')

senzu catch url('https://imgr.search.brave.com/bOs2sxfjA1hvpUFqpnvcT2E70OycW8LYUoIRgWgZQ_0/fit/320/213/ce/1/aHR0cHM6Ly9pLm1h/a2VhZ2lmLmNvbS9t/ZWRpYS85LTE0LTIw/MTUvT2c4eE9VLmdp/Zg.gif')

*/